<p>Selam {{ name }},</p>
<p>Bu e-maili ... uygulamasından alıyorsun. Uygulamamıza kayıt işlemi yaptın.</p>
<p>Aşağıdaki <b>Hesabımı Doğrula</b> butonuna basarak hesabını doğrulama işlemini tamamlayıp, daha sonrasında giriş yapabilirsin.</p>
<p>
    <a href="{{ url }}">Hesabımı Doğrula</a>
</p>

<p>Eğer bu işlemi sen yapmadıysan bu maili dikkate alma.</p>